<ion-header>
  <ion-navbar color="primary">
    <ion-title>Bestellübersicht für Tisch {{deskNumber}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item-group *ngFor="let order of showOrders">
    <ion-item-divider color="light" *ngIf= "checkCategory(order.item.menuItemCategory.name)">
      <span class="important">{{order.item.menuItemCategory.name}}</span>
    </ion-item-divider>
    <ion-item>
      {{order.item.name}}
      <span class="right">
        Preis: {{order.item.price}} {{order.item.currency}}
      </span>
    </ion-item>
  </ion-item-group>
  <ion-item>
    <!--Gesamtbetrag: {{menuItemCounter}}-->
  </ion-item>
</ion-list>
</ion-content>
