<ion-header>
  <ion-navbar color="primary">
    <ion-title>Bestellübersicht für Tisch {{deskNumber}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item-group *ngFor="let order of showOrders">
    <ion-item-divider color="light" *ngIf= "checkCategory(order.category)">
      <span class="important">{{order.category}}</span>
    </ion-item-divider>
    <ion-item>
     Anzahl: {{order.menuItemCounter}}  x  {{order.menuItem}}
      <span class="right">
        Preis: {{order.price}}
      </span>
    </ion-item>
  </ion-item-group>
  <ion-item>
    <!--Gesamtbetrag: {{menuItemCounter}}-->
  </ion-item>
</ion-list>
</ion-content>
