menu-box {
  .box {
    border: 1px solid $list-border-color;
    display: block;
    white-space: normal;
    border-radius: 2px;
    height: 100%;
    position: relative;
    font-size: 85%;
    background-color: color($colors, light2);
    transition: 0.35s transfrom ease-in-out;

    &:active {
      transform: scale(0.9);
    }

    .inner {
      padding: 2px;
    }

    ion-badge {
      top: 0;
      left: 100%;
      transform: translate(-50%, -50%);
      position: absolute;
      z-index: 1;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    }

    .number {
      border-bottom: 1px solid $list-border-color;
      text-align: center;
      padding: 2px;
      display: block;
    }
  }
}
