menu-box {
  .box {
    border: 1px solid $list-border-color;
    display: block;
    white-space: normal;
    border-radius: 2px;
    padding-bottom: 50%;
    position: relative;
    font-size: 85%;
    background-color: color($colors, light2);

    @media (max-width: 380px) {
      padding-bottom: 60%;
    }

    .inner {
      position: absolute;
      top: 0.25rem;
      right: 0.25rem;
      bottom: 1rem;
      left: 0.25rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    ion-badge {
      top: 0;
      left: 100%;
      transform: translate(-50%, -50%);
      position: absolute;
    }

    .price-tag {
      bottom: 0.25rem;
      right: 0.25rem;
      position: absolute;
    }
  }
}
