<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{menu.name}} - Details</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ng-container *ngIf="suggestions.length > 0">
      <ion-item-divider color="light">Beliebte Kundenwünsche</ion-item-divider>
      <ion-item *ngFor="let sugg of suggestions" (click)="wish = sugg.guestWish;">
        {{sugg.guestWish}}
      </ion-item>
    </ng-container>
    <ion-item>
      <ion-input clearInput="" [(ngModel)]="wish" placeholder="Kundenwunsch"></ion-input>
    </ion-item>
    <ng-container *ngIf="menu.sideDishGroup" padding-bottom>
      <ion-item-divider>
        Beilagen
      </ion-item-divider>
      <ion-item *ngFor="let sideDish of menu.sideDishGroup.sideDishes">
        <ion-checkbox [(ngModel)]="selectedSideDish[sideDish.id]"></ion-checkbox>
        <ion-label>
          {{sideDish.name}}
          <span text-right>{{ sideDish.price | costDecimal}}€</span>
        </ion-label>
      </ion-item>
    </ng-container>
    <ng-container *ngIf="menu.notices.length" padding-bottom>
      <ion-item-divider>Informationen</ion-item-divider>
      <ion-item *ngFor="let info of menu.notices">
        {{info}}
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-2>
        <button ion-button full (click)="localStorageService.saveMenuFavorite(menu.id)" *ngIf="!isFavorite()">
          <ion-icon name="heart"></ion-icon>
        </button>
        <button ion-button icon-left full color="danger" *ngIf="isFavorite()"
                (click)="localStorageService.deleteMenuFavorite(menu.id)">
          <ion-icon name="trash"></ion-icon>
          Fav
        </button>
      </ion-col>
      <ion-col col-10>
        <button ion-button (click)="add()" full color="secondary">Hinzufügen</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
