<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{menu.name}} - Details</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div padding-bottom>
    <textarea [(ngModel)]="wish" rows="1" placeholder="Kundenwunsch"></textarea>
  </div>
  <ng-container *ngIf="menu.sideDishGroup" padding-bottom>
    Beilagen
    <ion-list>
      <ion-item *ngFor="let sideDish of menu.sideDishGroup.sideDishes">
        <ion-checkbox [(ngModel)]="selectedSideDish[sideDish.id]"></ion-checkbox>
        <ion-label>
          {{sideDish.name}}
          <span text-right>{{ sideDish.price | costDecimal}}€</span>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
  <ng-container *ngIf="menu.notices.length" padding-bottom>
    Informationen
    <ion-list>
      <ion-item *ngFor="let info of menu.notices">
        {{info}}
      </ion-item>
    </ion-list>
  </ng-container>

</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-2>
        <button ion-button full (click)="localStorageService.saveMenuFavorite(menu.id)" *ngIf="!isFavorite()">
          <ion-icon name="heart"></ion-icon>
        </button>
        <button ion-button icon-left full color="danger" *ngIf="isFavorite()">
          <ion-icon name="trash"></ion-icon>
          Fav
        </button>
      </ion-col>
      <ion-col col-10>
        <button ion-button (click)="add()" full color="secondary">Hinzufügen</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
