#profileheader {

  color: color($colors, light);
  background-color: color($colors, primary);
  padding: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 3px;

  #username {
    text-align: center;
    font-size: 35px;
    margin-bottom: -5px;
  }

  #roles {
    h2 {
      text-align: center;
      color: color($colors, light2);
      font-weight: normal;
      font-size: 20px;
      margin: 0;
    }
  }

  ion-avatar {

    position: relative;

    img {
      max-width: 150px;
      max-height: 150px;
      width: auto;
      height: auto;

      border-radius: 50%;
      border: 4px solid color($colors, sidemenu_transparency);

      -webkit-box-shadow: 0 0 142px -37px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0 0 142px -37px rgba(0, 0, 0, 0.75);
      box-shadow: 0 0 142px -37px rgba(0, 0, 0, 0.75);

      margin: auto;
    }
  }
}

#profilecontent {

  ion-list {

    ion-list-header {
      margin: 0px;
      background: color($colors, light2);
    }

    ion-item, [ion-item] {

      background: color($colors, light);

      ion-note, span {
        color: color($colors, dark);
        font-weight: bold;
      }

      .level {
        font-weight: bold;
        font-size: 30px;
      }

      progress {
        width: 100%;
        height: 20px;
        border: 1px solid color($colors, light4);

        background: color($colors, light3); // background FF
        color: color($colors, primary); // foreground Edge
      }

      progress::-moz-progress-bar {
        background: color($colors, primary); // foreground FF
      }

      progress::-webkit-progress-bar {
        background: color($colors, light3) // background Chrome
      }
      progress::-webkit-progress-value {
        background: color($colors, primary); // foreground Chrome
      }
    }

    .filler {
      height: 20px;
    }
  }
}
