<ion-header>

  <ion-navbar color="primary">

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Profil</ion-title>

  </ion-navbar>

</ion-header>

<ion-content id="profilecontent">

  <div id="profileheader">

    <ion-avatar>
      <img src={{avatar}}>
    </ion-avatar>

    <h1 id="username">{{username}}</h1>

    <ng-container *ngFor="let role of userroles">
      <div [ngSwitch]="role" id="roles">
        <h2 *ngSwitchCase="'ROLE_ADMIN'">Administrator</h2>
        <h2 *ngSwitchCase="'ROLE_CEO'">Chief Executive Officer</h2>
        <h2 *ngSwitchCase="'ROLE_SERVICE'">Bedienung</h2>
        <h2 *ngSwitchCase="'ROLE_CHEF'">Koch</h2>
        <h2 *ngSwitchCase="'ROLE_BAR'">Barkeeper</h2>
        <h2 *ngSwitchDefault>{{role}}</h2>
      </div>
    </ng-container>
    {{fixDimensions()}}

  </div>

  <ion-list>

    <ion-list-header>
      <ion-icon name="person" item-left></ion-icon>
      Persönliches
    </ion-list-header>

    <ion-item>
      Telefon
      <ion-note item-right>
        {{telephone}}
      </ion-note>
    </ion-item>

    <ion-item>
      E-Mail
      <ion-note item-right>
        {{email}}
      </ion-note>
    </ion-item>

    <div class="filler"></div>

    <ion-list-header>
      <ion-icon name="medal" item-left></ion-icon>
      League of Service
    </ion-list-header>

    <ion-item>
      Level <span class="level">{{level}}</span>
      <br/>
      <progress max="{{expNextLevel}}" value="{{xp}}"></progress>
    </ion-item>

    <ion-item>
      Erfahrung
      <ion-note item-right>
        {{xp}} / {{expNextLevel}}
      </ion-note>
    </ion-item>

    <div class="filler"></div>

    <ion-list-header>
      <ion-icon name="information-circle" item-left></ion-icon>
      Kennzahlen
    </ion-list-header>

    <ion-item *ngIf="userroles == 'ROLE_SERVICE'">
      Umsatz
      <ion-note item-right>
        {{revenue|costDecimal}} €
      </ion-note>
    </ion-item>

    <ion-item *ngIf="userroles == 'ROLE_SERVICE'">
      Trinkgeld
      <ion-note item-right>
        {{tips|costDecimal}} €
      </ion-note>
    </ion-item>

    <ion-item *ngIf="userroles == 'ROLE_SERVICE'">
      Schritte
      <ion-note item-right>
        {{steps}}
      </ion-note>
    </ion-item>

  </ion-list>

</ion-content>
