<ion-header>
  <ion-buttons end>
    <button ion-button icon-only text-left (click)="dismiss()">
      <ion-icon name="checkmark"></ion-icon>
    </button>
  </ion-buttons>
</ion-header>
<ion-content>
  <ion-slides pager>
    <!-- todo hide fav slide if no favs exist -->
    <ion-slide>
      <h2 text-center>Favoriten</h2>
      <ion-grid>
        <ion-row>
          <div col-3 *ngFor="let fav of favorites">
            <menu-box [item]="fav" [count]="getTmpOrderCount(fav)" (press)="openDetailModal(fav.id)"
                      (click)="addOrder(fav)"></menu-box>
          </div>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <!-- todo fix temporary solution  -->
    <ng-container *ngFor="let cat of menuCategoryService.cache['tree']">
      <ion-slide *ngIf="cat.name.toLowerCase().indexOf('beilage') == -1">
        <h2 text-center>{{cat.name}}</h2>
        <ion-grid>
          <ion-row>
            <div col-3 *ngFor="let menuItem of cat.items">
              <menu-box [item]="menuItem" [count]="getTmpOrderCount(menuItem)" (press)="openDetailModal(menuItem.id)"
                        (click)="addOrder(menuItem)"></menu-box>
            </div>
          </ion-row>
        </ion-grid>

        <div *ngFor="let child of cat.subcategory" padding-bottom>
          <h3 text-center>{{child.name}}</h3>
          <ion-grid>
            <ion-row>
              <div col-3 *ngFor="let cMenuItem of child.items">
                <menu-box [item]="cMenuItem" [count]="getTmpOrderCount(cMenuItem)"
                          (press)="openDetailModal(cMenuItem.id)"
                          (click)="addOrder(cMenuItem)">
                </menu-box>
              </div>
            </ion-row>
          </ion-grid>
        </div>
      </ion-slide>
    </ng-container>
  </ion-slides>

</ion-content>
