order-select-modal {
  .slide-zoom {
    height: 100%;
    text-align: left;
    overflow: auto;
  }

  .scroll-content {
    overflow: auto;
  }

  h2 {
    font-size: 75%;
  }
  h3 {
    font-size: 65%;
  }

  h2, h3 {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  [padding-bottom] {
    padding-bottom: 1rem;
  }

}
