order-select-modal {
  .slide-zoom {
    height: 100%;
    text-align: left;
  }

  h2 {
    font-size: 75%;
  }
  h3 {
    font-size: 65%;
  }
  h2, h3 {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  [padding-bottom] {
    padding-bottom: 1rem;
  }

  .menu-box {
    border: 1px solid $list-border-color;
    display: block;
    white-space: normal;
    border-radius: 2px;
    padding-bottom: 50%;
    position: relative;
    font-size: 85%;
    .inner {
      position: absolute;
      top: 0.25rem;
      right: 0.25rem;
      bottom: 0.25rem;
      left: 0.25rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
