<ion-header>
  <button ion-button icon-only (click)="dismiss()">
    <ion-icon name="close"></ion-icon>
  </button>
</ion-header>
<ion-content>
  <ion-slides pager>
    <ion-slide>
      <h2 text-center>Favoriten</h2>
    </ion-slide>
    <ion-slide *ngFor="let cat of menuCategoryService.cache['tree']">
      <h2 text-center>{{cat.name}}</h2>
      <ion-grid>
        <ion-row>
          <div col-3 *ngFor="let menuItem of cat.items">
            <div class="menu-box">
              <div class="inner">
                {{menuItem.name}} {{menuItem.description}}
              </div>
            </div>
          </div>
        </ion-row>
      </ion-grid>


      <div *ngFor="let child of cat.subcategory" padding-bottom>
        <h3 text-center>{{child.name}}</h3>
        <ion-grid>
          <ion-row>
            <div col-3 *ngFor="let cMenuItem of child.items">
              <div class="menu-box">
                <div class="inner">
                  {{cMenuItem.name}} {{cMenuItem.description}}
                </div>
              </div>
            </div>
          </ion-row>
        </ion-grid>
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>
