.grid-reservationtables {

  ion-row {

    ion-col {
      background-color: color($colors, light2);
      border: 1px solid color($colors, light4);
      border-radius: 2px;
      text-align: center;
      transition: box-shadow 0.5s ease-in-out;
      transform: scale(0.95);
      height: auto;
      min-width: 110px;
      padding: 0;

      h1 {
        background-color: color($colors, light3);
        border-bottom: 1px solid color($colors, light4);
        padding: 10px;
        margin: 0;
        transition: 0.2s background-color ease-in-out;
      }

      &.selected {
        h1 {
          background-color: color($colors, secondary-background);
        }
      }

      .desk-details {
        width: 2000px;
        height: 56px;
        display: table-cell;
        padding: 8px;

        p {
          margin: 0;
          line-height: 0.75;
          padding-top: 10px;
        }
      }
    }

    ion-col:hover {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    }

    ion-col:active {
      background: color($colors, light3);
      transform: scale(0.9);
    }

  }

}
