<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Reservierungen</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!-- Person selection-->
  <ion-list>
    <ion-item>
      <ion-input type="number" min=1 (input)="guestnumber = $event.target.value" placeholder="Anzahl Personen"
                 (blur)="getReservation()"></ion-input>
    </ion-item>

  <!-- Date selection-->

    <ion-item>
      <ion-datetime displayFormat="DD.MM.YYYY, HH:mm" (ionChange)="getReservation()"
                    doneText="Fertig" cancelText="Abbrechen" [(ngModel)]="time"
      ></ion-datetime>
    </ion-item>
  </ion-list>


  <!-- Tell the User what happens -->
  <ion-list>
    <div *ngIf="isSelected">
      <ion-item *ngIf="desks.length == 0">
        Im gewählten Zeitraum sind leider keine freien Tische mehr verfügbar
      </ion-item>
      <ion-item *ngIf="desks.length != 0">
        Im gewählten Zeitraum sind folgende Tische verfügbar:
      </ion-item>
    </div>
  </ion-list>

  <ion-grid class="grid-tables">
    <ion-row justify-content-center>

      <!-- Begin freeDishes results -->
      <ng-container *ngFor="let desk of desks">
        <ion-col col-auto (click)="deskSelected(desk)">
          <div class="desk">
            <h1>
              {{desk.number}}
            </h1>
            <div class="desk-details">
              <span>Platzanzahl: {{desk.maximalSeats}}</span>

              <p *ngIf="desk.reservation">
                <span class="unimportant">Reserviert ab:</span>
              </p>
              <p *ngIf="desk.reservation">
                <span class="important">{{ desk.reservation | customTime }}</span>
                <br/>

              </p>
            </div>
          </div>
        </ion-col>
      </ng-container>

    </ion-row>
  </ion-grid>


</ion-content>
