<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Reservierungen</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- Person selection-->
  <ion-list>
    <ion-item>
      <ion-input type="number" min=1 (input)="guestnumber = $event.target.value" placeholder="Anzahl Personen"
                 (blur)="getReservation()"></ion-input>
    </ion-item>

  <!-- Date selection-->

    <ion-item>
      <ion-datetime displayFormat="DD.MM.YYYY, HH:mm" (ionChange)="getReservation()"
                    doneText="Fertig" cancelText="Abbrechen" [(ngModel)]="time"
      ></ion-datetime>
    </ion-item>
  </ion-list>


  <!-- Desk suggestions -->
  <ion-list *ngIf="isSelected">
    <ion-item-divider>
      Ausgewählte Tische:
    </ion-item-divider>
    <ion-item *ngFor="let sdesk of selecteddesks">
      Tisch {{sdesk.number}}
    </ion-item>
  </ion-list>

  <!-- Tell the User what happens -->
  <ion-list>
    <div *ngIf="isSelected">
      <ion-item-divider *ngIf="desks.length == 0">
        Keine freien Tische verfügbar
      </ion-item-divider>
      <ion-item-divider *ngIf="desks.length != 0">
        Folgende Tische verfügbar:
      </ion-item-divider>
    </div>
  </ion-list>

  <ion-grid class="grid-reservationtables">
    <ion-row justify-content-center wrap>

      <!-- Begin freeDishes results -->
      <ion-col col-4 col-sm (click)="deskSelected(desk)" *ngFor="let desk of desks">

        <h1>
              {{desk.number}}
            </h1>

            <div class="desk-details">

              <span>Plätze: {{desk.maximalSeats}}</span>

              <div *ngIf="desk.reservationText.length">
                <span class="unimportant">Reserviert ab:</span>
                <div class="important" *ngFor="let reservation of desk.reservationText">
                  {{reservation | date: "HH:mm"}}
                </div>
              </div>

            </div>

      </ion-col>

    </ion-row>
  </ion-grid>


</ion-content>
