desk-page {

  .item {
    padding-left: 0.5rem;
  }

  .count-container {
    position: relative;
    padding-right: 2px;
    .badge {
      position: absolute;
      top: -1px;
      right: -4px;
      background-color: transparent;
      color: color($colors, primary);
      padding: 0;
    }
  }

  .order-shortcut {
    transform: translateY(-25%);
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    transition: 0.2s all ease-in-out;
  }
}
