<ion-header>
  <ion-navbar color="primary">
    <ion-title>Bestellübersicht für Tisch {{deskNumber}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)='openOrderSelectModal()'>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let cat of catGroups">
      <ion-item-divider color="light" [hidden]="cat.orders.length == 0">
        <span class="important">{{cat.name}}</span>
      </ion-item-divider>
      <ion-item *ngFor="let order of cat.orders">
        {{ order.menuItemCounter }} x {{ order.menuItem }}
        <span class="right">
        {{order.price | costDecimal}}
      </span>
      </ion-item>
    </div>
    <ion-item text-right>
      Total: {{ getTotalPrice() | costDecimal }}
    </ion-item>
  </ion-list>
</ion-content>
