desk-page {

  .item {
    padding-left: 0.5rem;
    [item-left] {
      display: flex;
      margin: 0 5px 0 0;
      align-self: stretch;

      .order-shortcut {
        margin: 0;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        overflow: hidden;
        transition: 0.2s all ease-in-out;
        flex: 0 1 40%;
        align-self: stretch;
        height: auto;
      }

      .count-container {
        position: relative;
        margin-left: 5px;
        margin-right: 5px;
        flex: 0 0 20%;
        align-self: center;
        text-align: center;
        .badge {
          position: absolute;
          top: -3px;
          right: -7px;
          background-color: transparent;
          color: color($colors, primary);
          padding: 0;
        }
      }
    }
  }

}
