<ion-header>
  <ion-navbar color="primary">
    <ion-title>Tisch {{deskNumber}}</ion-title><!-- created by Bettina Hartmann-->
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngFor="let cat of catGroups">
      <ion-item-divider color="light" [hidden]="cat.orders.length == 0">
        <span class="important">{{cat.name}}</span>
      </ion-item-divider>
      <ion-item-sliding *ngFor="let order of cat.orders">
        <ion-item>
          {{order.count}} x {{ order.item.name }}
          <span class="side-dish" *ngFor="let side of order.sideDishes"> - {{side.name}}</span>
          <span class="right">{{order.item.price * order.count | costDecimal}} €</span>
        </ion-item>
        <!--sliding menu button-->
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="openStornoPopup(order)">Storno</button>
        </ion-item-options>
      </ion-item-sliding>
    </ng-container>

    <!--tmp orders not submitted to server -->
    <ng-container *ngIf="groupedTmpOrders.length">
      <ion-item-divider color="secondary">
        <span class="important">Ausstehend</span>
      </ion-item-divider>
      <ion-item *ngFor="let tmpOrder of groupedTmpOrders" padding-right>
        {{tmpOrder.count}} x {{tmpOrder.item.name}}
        <span class="side-dish" *ngFor="let side of tmpOrder.sideDishes"> - {{side.name}}</span>
        <span class="right secondary-text">
          {{tmpOrder.count * tmpOrder.item.price | costDecimal}} €
        </span>
      </ion-item>
    </ng-container>
    <!--total price -->
    <ion-item padding-vertical padding-right>
      <div text-right>
        Total: <b>{{ getTotalPrice() | costDecimal }} €</b>
      </div>
    </ion-item>
  </ion-list>

  <!--floating action button -->
  <ion-fab bottom right>
    <button ion-fab mini icon-only (click)='openOrderSelectModal()'>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>

<!--footer menu -->
<ion-footer *ngIf="orderService.cache[ordersCacheKey]?.length || tmpOrders.length">
  <ion-grid>
    <ion-row>
      <ion-col col-10>
        <button ion-button full icon-left
                *ngIf="orderService.cache[ordersCacheKey]?.length">
          <ion-icon name="cash"></ion-icon>
          Rechnung
        </button>
      </ion-col>
      <ion-col col-2>
        <button ion-button full icon-only color="secondary" *ngIf="tmpOrders.length" (click)="submitOrders()">
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
