<ion-header>
  <ion-navbar color="primary">
    <ion-title>Bestellübersicht für Tisch {{deskNumber}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)='openOrderSelectModal()'>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngFor="let cat of catGroups">
      <ion-item-divider color="light" [hidden]="cat.orders.length == 0">
        <span class="important">{{cat.name}}</span>
      </ion-item-divider>
      <ion-item *ngFor="let order of cat.orders">
        {{order.count}} x {{ order.item.name }}
        <span class="side-dish" *ngFor="let side of order.sideDishes"> - {{side.name}}</span>
        <span class="right">{{order.item.price * order.count | costDecimal}} €</span>
      </ion-item>
    </ng-container>
    <ng-container *ngIf="groupedTmpOrders.length">
      <ion-item-divider color="secondary">
        <span class="important">Ausstehend</span>
      </ion-item-divider>
      <ion-item *ngFor="let tmpOrder of groupedTmpOrders">
        {{tmpOrder.count}} x {{tmpOrder.item.name}}
        <span class="side-dish" *ngFor="let side of tmpOrder.sideDishes"> - {{side.name}}</span>
        <span class="right secondary-text">
          {{tmpOrder.count * tmpOrder.item.price | costDecimal}} €
        </span>
      </ion-item>
    </ng-container>
    <ion-item text-right>
      Total: {{ getTotalPrice() | costDecimal }} €
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-10>
        <button ion-button full icon-left
                *ngIf="orderService.cache[ordersCacheKey]?.length ">
          <ion-icon name="cash"></ion-icon>
          Rechnung
        </button>
      </ion-col>
      <ion-col col-2>
        <button ion-button full icon-only color="secondary" *ngIf="tmpOrders.length">
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
