<ion-header>
  <ion-navbar>
    <ion-title>Artikel</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="setSelection(true)">
        <ion-icon name="done-all"></ion-icon>
      </button>
      <button ion-button icon-only (click)="setSelection(false)">
        <ion-icon name="remove-circle"></ion-icon>
      </button>
      <button ion-button icon-only (click)="cancel()" color="danger">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ng-container *ngFor="let group of cachedGroups">
      <ion-item *ngFor="let orderId of group.orderIds">
        <!--output sidedishes and guest wish too-->
        <ion-label>{{group.item.name}}
          <span class="right">
            {{group.item.price | costDecimal}} €
          </span>
        </ion-label>
        <ion-checkbox [(ngModel)]="selection[orderId]"></ion-checkbox>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
<ion-footer>
  <button ion-button full color="secondary" [disabled]="totalSelectedPrice() == 0" (click)="openBillingCheckout()">
    {{totalSelectedPrice() | costDecimal}}€
    Bezahlen
  </button>
</ion-footer>
