<ion-title>Login</ion-title>
<ion-content id="nvlogin">
  <form (ngSubmit)="login()">

    <div id="loginheader">
      <img src="assets/img/nv_white.png"/>
    </div>

    <ion-list>
      <ion-item>
        <ion-label floating>Benutzername</ion-label>
        <ion-input [(ngModel)]="username" name="username" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Passwort</ion-label>
        <ion-input [(ngModel)]="password" name="password" type="password"></ion-input>
      </ion-item>
      <ion-item *ngIf="platform.is('cordova') && saveLoginAvailable">
        <ion-checkbox [(ngModel)]="saveLogin" name="save"></ion-checkbox>
        <ion-label>Login merken</ion-label>
      </ion-item>
      <ng-container *ngIf="platform.is('cordova') && !connectionUrl">
        <ion-item-divider></ion-item-divider>
        <ion-item color="danger" (click)="openSettingsPage()">
          <ion-icon name="alert"></ion-icon>
          Keine Verbindung hinterlegt!
          <div>Überprüfe die Einstellungen</div>
        </ion-item>
      </ng-container>
      <ion-item-divider></ion-item-divider>
      <button ion-item color="primary" [disabled]="!canLogin()" type="submit">Login
      </button>
    </ion-list>
  </form>
</ion-content>
