<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Schichten</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>{{headlineString()}} </h3>

<!-- Datetime selection-->
  <ion-list>
    <ion-item>
      <ion-label>Starteingabe</ion-label>
      <ion-datetime displayFormat="DD.MM.YYYY" doneText="Fertig" cancelText="Abbrechen" (ionChange)="getRightShift()" [(ngModel)]="event.startDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Endeingabe</ion-label>
      <ion-datetime displayFormat="DD.MM.YYYY" doneText="Fertig" cancelText="Abbrechen" (ionChange)="getRightShift()" [(ngModel)]="event.endDate"></ion-datetime>
    </ion-item>
  </ion-list>

<!-- Begin DateTime results -->
  <div class="cards-bg">
    <ion-grid class="grid-card">
      <ion-row>

        <!-- card for every Day -->
        <ion-col *ngFor="let nD of newDay" col-auto>

          <!-- BEGIN card -->
          <ion-card>
            <!-- BEGIN card header-->
            <ion-card-header class="card_header">
              <ion-item class="card_title">
                <h1>{{getDate(nD.date)}}</h1>
              </ion-item>
            </ion-card-header>
            <!-- END card header-->


            <!--BEGIN card content -->
            <ion-item-group *ngFor="let shift of nD.shifts">

              <ion-item-divider>
                  {{shift.userName}}:
                  <ion-note item-right>
                    {{getDateTime(shift.startShift)}} - {{getDateTime(shift.endShift)}}
                  </ion-note>
              </ion-item-divider>
              <!-- END category divider-->

            </ion-item-group>
            <!--END card content -->

          </ion-card>
          <!-- END card -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
<ion-footer>

  <ion-toolbar color="light">
    <ion-item>
      <ion-label>Gesamtplan anzeigen</ion-label>
      <ion-toggle checked={{!personalView}} ngModel="toggleMyShiftsOnly()" color="dark" (ionChange)="toggleMyShiftsOnly()">
      </ion-toggle>
    </ion-item>
  </ion-toolbar>

</ion-footer>
