<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Einstellungen</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngIf="authGuard.isAuthenticated()">
      <button ion-item (click)="openStornoReasonsModal()">
        Stornierungsgründe verwalten
      </button>
      <ion-item>
        <ion-label>IBeacon erlauben</ion-label>
        <ion-toggle [ngModel]="ibeaconIsON" color="dark" (ngModelChange)="toggleBeaconSetting()">
        </ion-toggle>
      </ion-item>
    </ng-container>
    <ng-container *ngIf="!authGuard.isAuthenticated() && platform.is('cordova')">
      <ion-item-divider>
        Verbindung
      </ion-item-divider>
      <button ion-item (click)="editConnection = true">
        Verbindung verwalten
      </button>
      <ion-item *ngIf="editConnection">
        <ion-input placeholder="IP-Adresse" [(ngModel)]="connectionUrl" clearInput
                   (blur)="saveConnectionUrl()"></ion-input>
      </ion-item>
    </ng-container>
  </ion-list>

</ion-content>
