<ion-menu [content]="appContent">

  <!-- Header, activate if necessary
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  -->

  <ion-content>
    <div class="spacer" style="width: 251.2px; height: 13px;"></div>
    <div class="profile-image">
      <a style="display:block;" menuClose (click)="openPage(profilepage)">
        <img src="../assets/icon/icon.png" style="display: block; width: 60%; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <h3 id="menu-heading1" style="font-weight: 300; text-align: center;">CEO Walter</h3>
    <div class="spacer" style="width: 251.2px; height: 12px;"></div>

    <ion-list>
      <button menuClose ion-item detail-none *ngFor="let p of pages"
              [class.activeHighlight]="checkActive(p)" (click)="openPage(p)">
        <ion-icon name={{p.icon}} item-left></ion-icon>
        {{p.title}}
      </button>
    </ion-list>

    <ion-list>
      <button menuClose ion-item detail-none color="danger" (click)="userService.logout()">
        <ion-icon name="log-out" item-left></ion-icon>
        Logout
      </button>
    </ion-list>

  </ion-content>

</ion-menu>
