<ion-menu [content]="appContent" id="navdrawer">

  <ion-content>
    <div class="spacer" style="width: 251.2px; height: 13px;"></div>
    <div class="profile-image" *ngIf="authGuard.isAuthenticated()">
      <a style="display:block;" menuClose (click)="openPage(profilepage)">
        <img src="../assets/icon/icon.png" style="display: block; width: 60%; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <h1 id="username" style="font-weight: 300; text-align: center;">{{authGuard.userDetails?.name}}</h1>
    <div class="spacer" style="width: 251.2px; height: 12px;"></div>


    <ion-list>
      <ng-container *ngIf="!authGuard.isAuthenticated()">
        <button menuClose ion-item detail-none [class.activeHighlight]="checkActive(loginPage)"
                (click)="openPage(loginPage)">
          <ion-icon name="log-in" item-left></ion-icon>
          Login
        </button>
      </ng-container>
      <ng-container *ngIf="authGuard.isAuthenticated()">
        <button menuClose ion-item detail-none *ngFor="let p of pages" [hidden]="!authGuard.hasAnyRole(p.roles)"
                [class.activeHighlight]="checkActive(p)" (click)="openPage(p, p.data)">
          <ion-icon name="{{p.icon}}" item-left></ion-icon>
          {{p.title}}
        </button>
      </ng-container>
      <button menuClose ion-item detail-none
              [class.activeHighlight]="checkActive(settingsPage)" (click)="openPage(settingsPage)">
        <ion-icon name="{{settingsPage.icon}}" item-left></ion-icon>
        {{settingsPage.title}}
      </button>
    </ion-list>

    <ion-list>
      <button *ngIf="authGuard.isAuthenticated()" menuClose ion-item detail-none color="danger" (click)="logout()">
        <ion-icon name="log-out" item-left></ion-icon>
        Logout
      </button>
    </ion-list>

  </ion-content>

</ion-menu>
