<ion-header>

  <ion-navbar color="primary">

    <ion-title>Tischübersicht</ion-title>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)='toggleView()'>
        <ion-icon *ngIf="tileView" name="list"></ion-icon>
        <ion-icon *ngIf="!tileView" name="grid"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="onRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid
    *ngIf="tileView; else elseBlock"
    class="grid-tables">

    <ion-row justify-content-center>

      <ng-container *ngFor="let desk of desks">
        <ion-col *ngIf="!myDesksOnly||desk.mine" col-auto (click)="deskSelected(desk)">
          <div class="desk">
            <h1 [ngClass]="{unused: desk.totalPaid == 0, used: desk.totalPaid != 0}">
              {{desk.deskNumber}}
            </h1>
            <div class="desk-details">
              <span *ngIf="desk.totalPaid == 0">frei<br/></span>
              <p *ngIf="desk.nextReservation">
                <span class="important">{{ desk.nextReservation | customTime }}</span>
                <br/>
                <span class="unimportant">Reservierung</span>
              </p>
            </div>
          </div>
        </ion-col>
      </ng-container>

    </ion-row>
  </ion-grid>

  <ng-template #elseBlock>

    <ion-list class="list-tables">

      <ng-container *ngFor="let desk of desks">

        <ion-item *ngIf="!myDesksOnly||desk.mine" (click)="deskSelected(desk)">

          <ion-avatar item-left>
            <h1 [ngClass]="{unused: desk.totalPaid == 0, used: desk.totalPaid != 0}">
              {{desk.deskNumber}}
            </h1>
          </ion-avatar>

          <table>

            <tr>
              <td width="100%">

                <h2 *ngIf="desk.totalPaid != 0">
                  <span class="important">
                  {{desk.totalPaid | costDecimal}}
                  </span>€
                </h2>
              </td>

              <td *ngIf="desk.nextReservation" valign="bottom">
                <span class="important">{{ desk.nextReservation | customTime }}</span>
              </td>

            </tr>

            <tr>

              <td>
                <h3>
                  <span>{{desk.waiter}}</span>
                  <span *ngFor="let waiter of desk.waiters; let isLast=last">
                     {{waiter}}{{isLast ? '' : ', '}}
                  </span>
                </h3>
              </td>

              <td *ngIf="desk.nextReservation" valign="top">
                <span class="unimportant">Reservierung</span>
              </td>

            </tr>

          </table>

        </ion-item>

      </ng-container>

    </ion-list>

  </ng-template>

</ion-content>

<ion-footer>

  <ion-toolbar color="light">
    <ion-item id="toggletoolbar">
      <ion-label>Fremde Tische ausblenden</ion-label>
      <ion-toggle [(ngModel)]="myDesksOnly" (ionChange)="toggleMyDesksOnly()" color="dark"></ion-toggle>
    </ion-item>
  </ion-toolbar>

</ion-footer>
