<ion-header>

  <ion-toolbar>

    <ion-title>Tischübersicht</ion-title>
    <ion-buttons start>

      <button ion-button icon-only color="royal" (click)='toggleView()'>
        <ion-icon *ngIf="tileView" name="list"></ion-icon>
        <ion-icon *ngIf="!tileView" name="grid"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-grid
    *ngIf="tileView; else elseBlock"
    class="grid-tables">

    <ion-row justify-content-center>

      <ion-col *ngFor="let desk of desks" (click)="deskSelected(desk)" col-auto>
        <div class="desk">

          <h1>
            {{desk.number}}
          </h1>
          <div class="desk-details">
            <span class="important">{{desk.seats}}</span> Plätze
          </div>

        </div>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ng-template #elseBlock>

    <ion-list class="list-tables">

      <ion-item *ngFor="let desk of desks" (click)="deskSelected(desk)" col-auto>

        <ion-avatar item-left>
          <h1>{{desk.number}}</h1>
        </ion-avatar>
        <h2>
          Tisch {{desk.number}}
        </h2>
        <h3>
          {{desk.seats}} Plätze
        </h3>

      </ion-item>

    </ion-list>

  </ng-template>

</ion-content>

<ion-footer>
</ion-footer>
