<ion-header>

  <ion-toolbar color="primary">

    <ion-title>Tischübersicht</ion-title>


    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-buttons start>

      <button ion-button icon-only color="royal" (click)='toggleView()'>
        <ion-icon *ngIf="tileView" name="list"></ion-icon>
        <ion-icon *ngIf="!tileView" name="grid"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-grid
    *ngIf="tileView; else elseBlock"
    class="grid-tables">

    <ion-row justify-content-center>

      <ion-col *ngFor="let desk of desks" (click)="deskSelected(desk)" col-auto>
        <div class="desk">

          <h1 [ngClass]="{unused: desk.status == 0, default: desk.status == 1, danger: desk.status == 2}">
            {{desk.number}}
          </h1>
          <div class="desk-details">
            <!--
              TODO: Display some useful details
              <span class="important">{{desk.seats}}</span> Plätze
            -->
          </div>

        </div>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ng-template #elseBlock>

    <ion-list class="list-tables">

      <ion-item *ngFor="let desk of desks" (click)="deskSelected(desk)" col-auto>

        <ion-avatar item-left>
          <h1 [ngClass]="{unused: desk.status == 0, default: desk.status == 1, danger: desk.status == 2}">
            {{desk.number}}
          </h1>
        </ion-avatar>

        <h2 *ngIf="!desk.price == 0"><span class="important">{{desk.price}}</span>€</h2>
        <h3>
          <span class="important">{{desk.waiter}}</span>
          <span class="right">{{desk.reservation}}</span>
        </h3>


      </ion-item>

    </ion-list>

  </ng-template>

</ion-content>

<ion-footer>

  <ion-toolbar color="primary" *ngIf="!tileView" name="list">
    <ion-item color="primary">
      <ion-label>Nur zugewiesene Tische anzeigen</ion-label>
      <ion-toggle checked={{myDesksOnly}} (click)="toggleMyDesksOnly()" color="dark"></ion-toggle>
    </ion-item>
  </ion-toolbar>

</ion-footer>
