.grid-tables {
  padding-top: 10px;

  div.desk {
    background-color: color($colors, light);
    border: 1px solid #ddd;
    border-radius: 2px;
    text-align: center;
    width: 110px;
    height: 110px;
    transition: box-shadow 0.5s;

    h1 {
      background: color($colors, light2);
      border-bottom: 1px solid #ddd;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 0;
    }

    .desk-details {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  div.desk:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  }

  div.desk:active {
    background: color($colors, light2);
    transform: scale(0.9);

    > h1 {
      background: color($colors, light3);
    }
  }
}

span.important {
  font-weight: bold;
}

span.right {
  float: right;
}

.list-tables {

  h1 {
    text-align: center;
    border: 2px solid color($colors, light3);
    background: color($colors, light2);
    border-radius: 50px;
    padding: 2px;
    height: 40px;
    width: 40px;
    min-width: 16px;
    transition: box-shadow 0.5s;

    display: table-cell;
    vertical-align: middle;
  }

  ion-item:hover {
    background: color($colors, light);
  }

  ion-item:active {
    background: color($colors, light3);

    h1 {
      transform: scale(0.9);
    }
  }

  ion-item:hover h1 {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  }
}

h1.danger {
  background: color($colors, danger-background) !important;
}

h1.default {
  background: color($colors, light2) !important;
}

h1.unused {
  background: color($colors, secondary-background) !important;
}
